@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
* {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.mainHeader {
  max-width: 100%;
  height: 200px;
  background: #252a34 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-bottom-right-radius: 50%;
  opacity: 1;
}

.mainPanel {
  width: 100% !important;
  z-index: -10;
  top: 0;
  position: absolute;
  background-color: #eaeaea;
}

.panel-title {
  margin-top: 10em;
  color: #707070;
}

.h-line {
  width: 95%;
  border: 0.5px solid #d5d5d5;
  opacity: 1;
}

.v-line {
  margin: 0 auto;
  width: 1px;
  height: 2000px;
  border: 0.5px solid #d5d5d5;
}

.score-panel {
  width: 70%;
  display: flex;
  height: 30px;
  justify-content: space-between;
  align-items: center;
}

.score {
  visibility: hidden;
  text-align: center;
  font-size: 1.5rem;
  color: #005995;
}
.score:last-child {
  align-self: center;
}

.ncards-panel {
  color: #005995;
  font-size: 1.5rem;
}

#number-card {
  font-size: 1.5rem;
}

#actual-score {
  color: #005995;
  font-size: 1.5rem;
}

.card-conteudo {
  min-width: 330px;
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5em;
  border: solid 0.1px #0006bd1f;
  padding: 2em 2em;
}
.card-conteudo span {
  color: #777777;
}

.hidden {
  visibility: hidden;
}

.conteudos {
  overflow-y: auto;
  padding: 1em 1em;
}
.conteudos::-webkit-scrollbar {
  background: #eaeaea !important;
}
.conteudos::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #eaeaea3b !important;
}

.empty {
  align-self: center;
  color: #777777;
  margin: 3em 0.5em;
  width: 40px;
  height: 25px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-bottom: 1px solid #005895;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conteudoHover {
  transform: scale(1.05);
}

.hovered {
  border-style: dashed;
  background: rgba(0, 0, 0, 0.1);
  transform: scale(1.1);
  transition-duration: 1s;
}

@media screen and (min-width: 1920px) {
  .card-conteudo {
    min-width: 380px;
  }

  .empty {
    width: 330px;
  }
}
@media screen and (max-width: 1366px) {
  .card-conteudo {
    min-width: 270px;
  }

  .empty {
    width: 230px;
  }
}
.letras {
  z-index: 10;
  height: 100px;
}
.letras::-webkit-scrollbar {
  width: 12px;
  background: #eaeaea !important;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}
.letras::-webkit-scrollbar-thumb {
  border: 5px;
  border-radius: 20px;
  background: #a5a5a594 !important;
}

.centralize {
  display: flex !important;
  flex-direction: column;
  align-items: flex-end !important;
  justify-content: center !important;
  animation: sDown 1s !important;
}

@keyframes sDown {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
.letra[draggable=true] {
  align-self: center;
  padding: 1.2em 1.2em;
  cursor: move;
  margin-bottom: 3em;
  animation: fade 0.5s linear forwards;
}
.letra[draggable=true] span {
  color: #005895;
  font-weight: bolder;
}
.letra[draggable=true]:hover {
  box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.3);
  transition-duration: 0.6s;
}

.letra:not([draggable]) {
  margin: 2em auto;
  animation: fade 0.5s linear forwards;
  background-color: #5db85d;
  border-radius: 20px;
  padding: 1.5em 1.5em;
}
.letra:not([draggable]) span {
  margin: 0 auto;
  color: white;
}

#removeSpan span[id] {
  display: none;
}
#removeSpan .letra {
  margin-top: 3em;
}

.cont {
  background: #eaeaea !important;
}

.hoverletras {
  opacity: 0.6;
  transition-duration: 1s;
}

.invisible {
  display: none;
}

#myModal {
  animation: fade 0.5s;
}

@keyframes fade {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
.cardFadeOut {
  animation: cardFadeOut 2s;
}

@keyframes cardFadeOut {
  from {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
  to {
    opacity: 0;
    scale: 0;
    visibility: hidden;
  }
}
@media screen and (max-width: 1285px) {
  .letras {
    overflow-y: auto;
    height: 1000px;
  }
  .letras::-webkit-scrollbar {
    width: 12px;
    background: #eaeaea !important;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  }
  .letras::-webkit-scrollbar-thumb {
    border: 5px;
    border-radius: 8px;
    background: #a5a5a594 !important;
  }

  .letra[draggable=true] {
    width: 270px !important;
    padding: 0.9em 0.9em;
  }
}
@media screen and (max-width: 1080px) {
  .letra[draggable=true] {
    width: 230px !important;
    padding: 0.9em 0.9em;
  }
}

/*# sourceMappingURL=main.css.map */
